@use 'abstracts/variables' as v;

.text-primary-900 {
    color: v.$primary-900;
}

.text-primary-400 {
    color: v.$primary-400;
}

.text-neutral-300 {
    color: v.$neutral-300;
}

.text-neutral-100 {
    color: v.$neutral-100;
}

.text-neutral-200 {
    color: v.$neutral-200;
}

.bg-primary-400 {
    background-color: v.$primary-400;
} 

.bg-neutral-850 {
    background-color: v.$neutral-850;
}
.bg-neutral-900 {
    background-color: v.$neutral-900;
}

.bg-neutral-100 {
    background-color: v.$neutral-100;
}


