@use 'abstracts/variables' as v;

body {
	font-family: 'Be Vietnam Pro', sans-serif;
}

.fs-body {
	font-size: v.$fs-400;
} 


.fs-primary-heading {
	font-size: v.$fs-800;
}

.fs-secondary-heading {
font-size: v.$fs-700;
} 

.fs-nav {
	font-size: v.$fs-500;
}

.fs-button {
 font-size: v.$fs-300;
}

.fw-semi-bold {
	font-weight: v.$fw-semi-bold
}

.fw-bold {
	font-weight: v.$fw-bold;
}

.attribution {
	font-size: v.$fs-300;
	text-align: center;
}