@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;

body {
	font-family: 'Be Vietnam Pro', sans-serif;
}

//utility classes

.fs-body {
	font-size: v.$fs-400;
}

.fs-200 {
	font-size: v.$fs-200;
}

.fs-300 {
	font-size: v.$fs-300;
}

.paragraph__font-size--800 {
	font-size: v.$fs-800;
	line-height: 1.4;
	text-align: center;

	@include b.respond-to('medium') {
		font-size: v.$fs-830;
		letter-spacing: -0.6px;
		line-height: 1.2;
		text-align: left;
	}
}

.paragraph__font-size--600 {
	font-size: v.$fs-600;
	line-height: 1.6563;
}

.paragraph__font-size--400 {
	font-size: v.$fs-400;
	line-height: 1.95;

	@include b.respond-to('medium') {
		font-size: v.$fs-600;
		line-height: 1.5;
	}
}

.paragraph__typography--common {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 200;

	text-shadow: 0px 0px 1px v.$neutral-900;
	text-align: center;
	opacity: 0.7;

	@include b.respond-to('medium') {
		text-align: left;
	}
}

.fw-semi-bold {
	font-weight: v.$fw-semi-bold;
}

.fw-bold {
	font-weight: v.$fw-bold;
}

.primary-heading {
	font-size: v.$fs-800;
	line-height: 1.4;

	text-align: center;

	text-shadow: 0px 0px 2px v.$primary-900;

	@include b.respond-to('medium') {
		text-align: left;
	}

	@include b.respond-to('extra-large') {
		font-size: v.$fs-850;
		line-height: 1.24;
		letter-spacing: -0.0313rem;
	}
}

.secondary-heading {
	padding-inline: 1.5rem;

	font-size: v.$fs-700;
	line-height: 1.45;
	letter-spacing: -1px;

	text-align: center;

	@include b.respond-to('medium') {
		padding-inline: 0;

		font-size: v.$fs-830;

		letter-spacing: -0.5px;
		line-height: 1.2;
		text-align: left;
	}
}

.third-heading {
	font-size: v.$fs-600;
	letter-spacing: -1px;
}

.letter-spacing-normal {
	letter-spacing: normal;
}

.text__align--center {
	text-align: center;
}

.attribution {
	font-size: v.$fs-300;
	text-align: center;
}

.footer__input::placeholder {
	font-size: v.$fs-300;
	text-indent: -1rem;
	text-align: center;
}

.footer__nav-ul {
	font-size: v.$fs-400;
	text-align: left;
}
