@use 'abstracts/breakpoints' as b;

@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;

//utility classes

//typography
.ff-basic {
	font-family: v.$ff-be-vietnam;
}

.fs-200 {
	font-size: v.$fs-200;
	letter-spacing: 0.0625rem;
}

.fs-300 {
	font-size: v.$fs-300;
}

.fs-400 {
	font-size: v.$fs-400;
	line-height: 1.95;

	@include b.respond-to('medium') {
		font-size: v.$fs-600;
		line-height: 1.5;
	}
}

.fs-600 {
	font-size: v.$fs-600;
	line-height: 1.6563;
}

.fs-800 {
	font-size: v.$fs-800;
	line-height: 1.4;
	text-align: center;

	@include b.respond-to('medium') {
		font-size: v.$fs-830;
		letter-spacing: -0.6px;
		line-height: 1.2;
		text-align: left;
	}
}

.fw-bold {
	font-weight: v.$fw-bold;
}

.fw-semi-bold {
	font-weight: v.$fw-semi-bold;
}

.primary-heading {
	font-size: v.$fs-800;
	line-height: 1.4;

	text-align: center;

	text-shadow: 0px 0px 0.5px v.$primary-900;

	@include b.respond-to('medium') {
		text-align: left;
	}

	@include b.respond-to('extra-large') {
		font-size: v.$fs-850;
		line-height: 1.24;
		letter-spacing: -0.0313rem;
	}
}

.secondary-heading {
	padding-inline: 1.5rem;

	font-size: v.$fs-700;
	line-height: 1.45;
	letter-spacing: -1px;

	text-align: center;

	@include b.respond-to('medium') {
		padding-inline: 0;

		font-size: v.$fs-830;

		letter-spacing: -0.5px;
		line-height: 1.2;
		text-align: left;
	}
}

.third-heading {
	font-size: v.$fs-600;
	letter-spacing: -1px;
}

.typography-common-styles {
	font-family: 'Be Vietnam Pro', sans-serif;
	font-weight: 200;

	text-shadow: 0px 0px 1px v.$neutral-900;
	text-align: center;
	opacity: 0.7;

	@include b.respond-to('medium') {
		text-align: left;
	}
}

//alignment

.align-items--start {
	align-items: start;
}

.align-items--start-md {
	align-items: start;
}

.block-scroll {
	overflow: hidden;
}

.container {
	display: grid;
	align-items: center;
	justify-content: center;

	margin-inline: auto;
	padding-inline: 1.0625rem;

	@include b.respond-to('large') {
		max-width: 80.5%;
	}

	@include b.respond-to('extra-large') {
		padding-inline: 1.1875rem;
	}
}

.content--narrow-1 {
	padding-inline: 1.5rem;

	@include b.respond-to('medium') {
		padding-inline: 0;
		max-width: 21.25rem;
	}
}

.content--narrow-2 {
	@include b.respond-to('medium') {
		max-width: 27.5rem;
	}
}

.display-min-md {
	@include b.respond-to-max('medium') {
		display: none;
	}
}

.even-columns {
	@include b.respond-to('medium') {
		grid-template-columns: repeat(2, 1fr);
		place-items: center stretch;
		gap: 6vw;
	}

	@include b.respond-to('extra-large') {
		grid-template-columns: 33.5vw 40vw;
	}
}

.even-columns__box {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.47rem;
	justify-items: center;

	@include b.respond-to('medium') {
		justify-items: start;
		gap: 1.4375rem;

		&[data-order='second'] {
			grid-area: 1/2/2/3;
		}

		&[data-order='first'] {
			grid-area: 1/1/2/2;
			gap: 1.875rem;
		}

		&[data-order='third'] {
			grid-area: 1/3/2/4;
		}
	}
}

.even-columns,
.even-columns__cta,
.even-columns__footer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.3125rem;
}

.justify-self--start-md {
	@include b.respond-to('medium') {
		justify-self: start;
	}
}

.margin-block-1 {
	margin-block: 1.48rem;

	@include b.respond-to('medium') {
		margin-block: 0.3125rem;
	}
}

.padding__block--04 {
	padding-block: 0.4rem;
}

.padding__block--13 {
	padding-block: 1.375rem;
}

.padding__block--27 {
	padding-block: 2.75rem;

	@include b.respond-to('extra-large') {
		padding-block: 3.9375rem;
	}
}

.padding__block--28 {
	@include b.respond-to('large') {
		padding-block: 2.875rem;
	}
}

.padding__inline--2 {
	padding-inline: 2.1875rem;
}

.padding-left {
	@include b.respond-to('medium') {
		padding-left: 1.1875rem;
	}
}

.pos-relative {
	position: relative;
}

//themes

.clr-text-primary-900 {
	color: v.$primary-900;
}

.clr-text-neutral-100 {
	color: v.$neutral-100;
}

.clr-text-neutral-200 {
	color: v.$neutral-200;
}

.clr-text-neutral-300 {
	color: v.$neutral-300;
}

.clr-bg-primary-400 {
	background-color: v.$primary-400;
}

.clr-bg-neutral-900 {
	background-color: v.$neutral-900;
}
