@use 'abstracts/variables' as v;

%btn-input-common-styles {
    height: 2.8125rem;

	border-radius: 30rem;
	border: 0.0625rem solid transparent;

	font-size: v.$fs-300;
	text-shadow: 0 0 0.5px rgba(255, 239, 235, 1);
}

%btn-same-hover-styles {
    transition: background-color 0.3s;
	&:hover,
	&:focus-visible {
		background-color: v.$primary-300;
	}
}

%ornament-common-styles {
	position: absolute;
	inset: 0;

	width: 100%;

	background-repeat: no-repeat;
	z-index: -10;
}