//colors
// ### Primary
$primary-300: rgb(232, 138, 115);
$primary-400: rgb(242, 95, 58);
$primary-900: rgb(36, 45, 82);

// ### Neutral
$neutral-100: rgb(250, 250, 250);
$neutral-200: rgb(255, 239, 235);
$neutral-250: rgba(144, 149, 167, 0.05);
$neutral-300: rgb(144, 149, 167);
$neutral-850: rgba(28, 29, 38, 0.502);
$neutral-900: rgb(29, 30, 37);

//font-sizes
$fs-200: 0.6875rem;
$fs-250: 0.75rem;
$fs-300: 0.8125rem;
$fs-400: 0.875rem;
$fs-500: 0.9375rem;
$fs-600: 1rem;
$fs-700: 1.875rem;
$fs-800: 2.25rem;
$fs-830: 2.375rem;
$fs-850: 3.25rem;
$fs-900: 3.5rem;

//font-weight
$fw-semi-bold: 600;
$fw-bold: 700;

//font-family
$ff-be-vietnam: 'Be Vietnam Pro', sans-serif;
