@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;

.cta-section::before,
.bg-ornament__box--top,
.bg-ornament__box--center-right {
	position: absolute;
	inset: 0;

	width: 100%;

	background-repeat: no-repeat;
	z-index: -10;
}

.bg-ornament__box--top {
	height: 500%;

	background-image: url('../img/bg-tablet-pattern-wo.svg');
	background-size: 120%;
	background-position: top -7rem left 3.5rem;
	overflow: visible;
	@include b.respond-to('small') {
		background-position: top -19rem left 6rem;
	}

	@include b.respond-to('medium') {
		background-size: 70%;
		background-position: top -12rem left clamp(30rem, 20rem + 25vw, 50rem);
	}
	@include b.respond-to('extra-large') {
		background-size: 58%;
		background-position: top -11rem left clamp(30rem, 20rem + 31.5vw, 50rem);
	}
}

.bg-ornament__box--center-right {
	height: 100%;

	background-image: url('../img/bg-tablet-pattern-wo.svg');
	background-size: 85%;
	background-position: top clamp(20rem, 20rem + 20vw, 50rem) left clamp(15rem, 5rem + 40vw, 100rem);

	@include b.respond-to('medium') {
		background-position: top clamp(42rem, 41.5rem + 20vw, 100rem) right clamp(10rem, 10.5rem + 67vw, 200rem);
		background-size: 58%;
	}
}

.cta-section {
	position: relative;
	isolation: isolate;
}

.cta-section::before {
	content: '';
	height: 100%;

	background-image: url('../img/bg-simplify-section-mobile.svg');
	background-position: 0% 45%;

	@include b.respond-to('medium') {
		background-image: url('../img/bg-tablet-pattern.svg');
		background-position: 0% 0%;
	}

	@include b.respond-to('extra-large') {
		background-image: url('../img/bg-simplify-section-desktop.svg');
		background-position: 16rem -9rem;
	}
}
