@use 'abstracts/variables' as v;

.bg-ornament--big {
	position: absolute;
	top: -4.0625rem;
	right: 0.375rem;
	transform: rotate(-135deg);

	width: 15.3394rem;
	height: 27.1875rem;
}

.bg-ornament--small {
	top: 26.8rem;
	right: -8rem;
	transform: rotate(-135deg);

	width: 10.3394rem;
	height: 27.1875rem;
}

.bg-ornament--extra-small {
	right: -30px;
	height: 2.375rem;
	grid-column: 1 / -1;
	grid-row: 1;
	
	width: 100%;

	border-top-left-radius: 10em;
	border-bottom-left-radius: 10em;
}

.bg-ornament--big,
.bg-ornament--small,
.bg-ornament--extra-small {
	position: absolute;

	background-color: v.$neutral-200;
	border-top-left-radius: 10em;
	border-top-right-radius: 10em;

	z-index: -5;
}

.bg-ornament__container{ 
background-image: url('../img/bg-simplify-section-mobile.svg');
background-repeat: no-repeat;
background-position: 0% 45%;

}