@use 'abstracts/variables' as v;
@use 'abstracts/extends' as e;

.button--orange,
.button--small {
	transition: background-color 0.3s;
	&:hover,
	&:focus-visible {
		background-color: v.$primary-300;
	}
}

.button--orange {
	@extend %btn-input-common-styles;
	width: 8.625rem;
	box-shadow: 0 1.125em 1em -1em v.$primary-400;
	color: v.$neutral-200;
	background-color: v.$primary-400;
	cursor: pointer;
}

.button--small {
	@extend %btn-input-common-styles;
	width: clamp(4.125rem, 4.58vw, 5.3125rem);
	cursor: pointer;
}

.button--white {
	@extend %btn-input-common-styles;
	width: 8.625rem;

	color: v.$primary-400;
	background-color: v.$neutral-100;

	transition: color 0.3s;
	cursor: pointer;

	&:hover,
	&:focus-visible {
		color: v.$primary-300;
	}
}
