@use 'abstracts/variables' as v;

.button--white,
.button--orange,
.advantages__item::before,
.button--small,
.footer__input {
	border-radius: 30rem;
	border: 0.0625rem solid transparent;

	font-size: v.$fs-300;
}

.button--white,
.button--orange,
.button--small,
.footer__input {
	height: 2.8125rem;

	text-shadow: 0 0 0.5px rgba(255, 239, 235, 1);
	cursor: pointer;
}

.button--white,
.button--orange,
.advantages__item::before,
.button--small {
	font-weight: bold;
}

.button--orange {
	width: 8.625rem;
	box-shadow: 0 1.125em 1em -1em v.$primary-400;
	color: v.$neutral-200;
	background-color: v.$primary-400;
}

.button--small {
	width: clamp(4.125rem, 4.58vw, 5.3125rem);
}

.button--orange,
.button--small {
	transition: background-color 0.3s;
	&:hover,
	&:focus-visible {
		background-color: v.$primary-300;
	}
}

.button--white {
	width: 8.625rem;
	transition: color 0.3s;
	color: v.$primary-400;
	background-color: v.$neutral-100;

	&:hover,
	&:focus-visible {
		color: v.$primary-300;
	}
}
