@use 'abstracts/variables' as v;

.slider {
	&__container {
		position: relative;

		display: grid;
		grid-template-columns: auto-flow;

		max-width: 90rem;
		min-height: 35rem;
		column-gap: 1.0625rem;

		/* IN THE END */
		overflow: hidden;
	}

	&__slide {
		position: absolute;
		top: calc(2.34rem + 3.6rem);
		display: grid;
		grid-template-rows: 5rem 1fr;
		gap: 1.4375rem;
		width: 100%;
		min-height: 15.625rem;

		background-color: v.$neutral-250;
	}

	&__person-details-box {
		position: relative;
		display: grid;
		grid-template-rows: 2.375rem 1fr;
		gap: 1.4375rem;
		align-items: start;
		justify-items: center;
		grid-row: 1;
		width: 100%;

		h3 {
			grid-row: 2;
			letter-spacing: -0.0625rem;
		}
	}
	&__img {
		position: absolute;
		top: -2.34rem;
		left: 50%;
		grid-row: 1;
		transform: translateX(-50%);

		width: 4.6875rem;
		height: 4.6875rem;
	}

	&__blockquote {
		grid-row: 2;
		padding-inline: 1.5625rem;

		text-align: center;
		font-size: v.$fs-400;
		line-height: 1.85;
	}
}

.translate--0 {
	transform: translateX(0%);
}

.translate--minus-100 {
	transform: translateX(-100%);
}
.translate--100 {
	transform: translateX(100%);
}
.translate--200 {
	transform: translateX(200%);
}
