@use 'abstracts/breakpoints' as b;
@use 'abstracts/variables' as v;
.nav__mobile {
	&-toggle-button {
		padding: 0.5em;

		border: transparent;
		background: transparent;

		cursor: pointer;

		@include b.respond-to('medium') {
			display: none;
		}
	}

	&-icon--open,
	&-icon--close {
		display: none;
		position: fixed;
		right: 1.57rem;
		top: 2.633rem;

		z-index: 100;

		@include b.respond-to('medium') {
			display: none;
		}
		&[data-visible] {
			display: block;
		}
	}
}

@include b.respond-to-max('medium') {
	.primary-nav {
		display: none;
		position: fixed;
		top: 6.25rem;
		right: 1.5rem;

		width: clamp(4.375rem, 88vw, 20.3125rem);
		padding-block: 2.8125rem;
		background-color: v.$neutral-100;
		border-radius: 0.3125rem;
		text-align: center;
		font-weight: bold;

		z-index: 100;

		&[data-visible] {
			display: block;
		}

		&__ul {
			display: flex;
			flex-direction: column;
			gap: 1.4375rem;
		}
	}
}

.primary-nav {
	@include b.respond-to('medium') {
		display: flex;
		align-items: center;

		padding-block: 0.625rem;
		width: clamp(20rem, 18rem + 8.2vw, 30rem);

		background-color: transparent;
	}
	&__ul {
		cursor: pointer;
		@include b.respond-to('medium') {
			display: flex;
			flex-direction: row;
			gap: 2.22vw;

			font-size: v.$fs-200;
			font-weight: bold;

			opacity: 0.7;
			cursor: pointer;
		}

		li {
			transition: color 0.3s;
		}

		li:hover,
		li:focus-visible {
			color: v.$neutral-300;
		}
	}
}

.sr--visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

//footer navigation

.footer__nav-ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 5rem;
	row-gap: 1rem;

	font-weight: bold;

	@include b.respond-to('extra-large') {
		column-gap: 13.3vw;
		row-gap: 0.875rem;
		padding-top: 0.3125rem;
	}

	li {
		cursor: pointer;
		transition: color 0.3s;

		&:hover,
		&:focus-visible {
			color: v.$primary-400;
		}
	}
}
