@use 'abstracts/breakpoints' as b;

.nav__mobile {
	@include b.respond-to('medium') {
		display: none;
	}

	&-toggle-button {
		padding: 0.5em;
		
		border: transparent;
		background: transparent;

		cursor: pointer;
	}

	&-sr--visually-hidden {
		opacity: 0;
	}
	&-icon {
		position: fixed;
		right: 1.57rem;
		top: 2.633rem;
	}

	&-ul {
		position: fixed;
		top: 6.25rem;
		left: 1.5rem;
		width: 20.625rem;

		text-align: center;

		z-index: 10;
	}

	&-li {
		display: flex;
		flex-direction: column;
		gap: 1.4375rem;
	}

	&-bg {
		position: fixed;
		width: 100%;
		height: 100vh;
	}
}
.nav__desktop {
	display: none;

	@include b.respond-to('medium') {
		display: block;
	}
}

.nav__desktop-li {
	display: flex;
	width: clamp(20rem, 18rem + 8.1vw, 25rem);

	justify-content: space-between;
}

.footer__nav-ul {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 5rem;
	row-gap: 1rem; 

	@include b.respond-to('extra-large') {
		column-gap: 13.3vw;
		row-gap: .875rem;
		padding-top: .3125rem;
	}
}
