//UTILITY CLASSES
.padding__block--1 {
    padding-block: 0.4rem;
}

.padding__block--2 {
    padding-block: 2.75rem;
}

.padding__block--3 {
    padding-block: 4.375rem 0;
}

.padding__inline--1 {
    padding-inline: 1.0625rem;
}

.padding__inline--2 {
    padding-inline: 1.5rem;
}

.text__align--center {
    text-align: center;
}