@use 'abstracts/breakpoints' as b;
@use 'abstracts/variables' as v;

.footer__form {
	display: grid;
	grid-template-columns: 73.45% 1fr;
	gap: 0.5rem;
	grid-column: 1 / -1;

	width: 100%;
}

.footer__input {
	min-width: min-content;
	width: 100%;
	padding-left: 20px;

	color: v.$primary-400;
}

.footer__input--error {
	border: 0.125rem solid v.$primary-400;
}

.footer__input::placeholder {
	color: v.$neutral-900;

	text-align: left;
}

.footer__input-msgtext {
	padding-left: 0.9375rem;
	padding-top: 0.3125rem;
	color: v.$primary-400;

	font-size: 10px;
	font-style: italic;
	letter-spacing: -0.5px;
}

.footer {
	&__social-media-ul {
		display: flex;
		gap: 2.0625rem;

		@include b.respond-to('medium') {
			gap: 0.8125rem;
			justify-items: stretch;
			align-items: flex-start;
		}

		@include b.respond-to('large') {
			grid-row: 2/3;
		}

		li {
			display: flex;
			align-items: flex-start;
		}

		a {
			font-size: 0;

			&:is(:hover, :focus) .footer__social-media-icon {
				fill: v.$primary-400;
			}
		}
	}

	&__social-media-icon {
		width: 2.125rem;
		height: 2.125rem;
		fill: v.$neutral-100;
		cursor: pointer;
		transition: fill 0.3s;

		@include b.respond-to('medium') {
			width: 1.25rem;
			height: 1.25rem;
		}
	}

	&__copyright {
		@include b.respond-to('medium') {
			grid-area: 1/3/2/4;
			align-self: end;
			justify-self: end;
		}
	}
}

.even-columns__footer {
	row-gap: 2.75rem;
	column-gap: 2vw;
	padding-block: 2.75rem;

	@include b.respond-to('large') {
		grid-template-columns: 14.5% 39% 25%;
		justify-content: space-between;
		align-items: start;
		gap: 8.4vw;

		width: 77vw;
		padding-left: 0.3125rem;
		padding-block: 3.4375rem 7.375rem;
	}

	a {
		@include b.respond-to('large') {
			grid-row: 1/2;
		}
	}
}

.footer__logo {
	padding-block: 2.75rem;

	@include b.respond-to('medium') {
		padding-block: 0 3.5rem;
	}
}

.attribution {
	height: 2rem;
}
