@use 'abstracts/breakpoints' as b;
.logo {
    width: 7.3125rem;

    @include b.respond-to('large') {
        width: 9.375rem;
    }
}

.button__header {
    display: none;
    @include b.respond-to('small') {
       display:  flex;
       justify-self: flex-end;
    }
    }