@use 'abstracts/breakpoints' as b;

.header__container {
    display: flex;
	justify-content: space-between;
}

.logo {
    padding-top: 6px;
    width: clamp(7.3125rem, 7.3125rem + 8vw, 9.375rem);
}

.button__header {
    display: none;
    @include b.respond-to('medium') {
       display:  flex;
    }
    }