@use 'abstracts/breakpoints' as b;
@use 'abstracts/extends' as e;
@use 'abstracts/variables' as v;

.bg-ornament__box--center-right {
	@extend %ornament-common-styles;
	height: 100%;

	background-image: url('../img/bg-tablet-pattern-wo.svg');
	background-size: 85%;
	background-position: top clamp(20rem, 20rem + 20vw, 50rem) left clamp(15rem, 5rem + 40vw, 100rem);

	@include b.respond-to('medium') {
		background-position: top clamp(42rem, 41.5rem + 20vw, 100rem) right clamp(10rem, 10.5rem + 67vw, 200rem);
		background-size: 58%;
	}
}

.intro-img {
	width: 89vw;

	z-index: -1;

	@include b.respond-to('small') {
		width: 100%;
		max-width: 37.5rem;
		height: 100%;
	}
}

// ADVANTAGES LIST

.advantages__list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.85rem;

	counter-reset: count;
}

.advantages__item {
	display: grid;
	grid-template-columns: min-content minmax(30%, 28.125rem);
	gap: 0.8rem;
	align-items: start;

	counter-increment: count;

	@include b.respond-to('medium') {
		column-gap: 1.5625rem;
	}
}

.advantages__item h3 {
	grid-column: 2;
	grid-row: 1;
	align-self: center;
}

.advantages__item p {
	grid-column: 1 / -1;

	@include b.respond-to('large') {
		grid-column: 2;
		grid-row: 2;
	}
}

.advantages__item::before,
.advantages__item::after {
	height: 3.125rem;

	@include b.respond-to('extra-small') {
		height: 2.375rem;
	}
}

.advantages__item::before {
	content: '0' counter(count);
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1;
	grid-row: 1;
	width: 4.0625rem;

	border-radius: 30rem;
	border: 0.0625rem solid transparent;
	background-color: v.$primary-400;
	color: v.$neutral-200;

	font-size: v.$fs-300;
	font-weight: bold;
	letter-spacing: -1px;
}

.advantages__item::after {
	content: '';
	grid-column: 1 / -1;
	grid-row: 1;
	width: 100%;

	border-top-left-radius: 10em;
	border-bottom-left-radius: 10em;
	background-color: v.$neutral-200;
	box-shadow: 5em 0 0 v.$neutral-200;

	overflow: hidden;
	z-index: -5;
	@include b.respond-to('small') {
		display: none;
	}
}

// CTA

.cta-section {
	position: relative;
	isolation: isolate;
}

.cta-section::before {
	@extend %ornament-common-styles;
	content: '';
	height: 100%;

	background-image: url('../img/bg-simplify-section-mobile.svg');
	background-position: 0% 45%;

	@include b.respond-to('medium') {
		background-image: url('../img/bg-tablet-pattern.svg');
		background-position: 0% 0%;
	}

	@include b.respond-to('extra-large') {
		background-image: url('../img/bg-simplify-section-desktop.svg');
		background-position: 16rem -9rem;
	}
}

.even-columns__cta {
	padding-block: 5.9375rem 3.875rem;

	@include b.respond-to('medium') {
		grid-template-columns: 67.36vw 1fr;
		align-items: center;
		padding-block: 4.0625rem;
	}
}
