@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;

.intro-img {
	width: 89vw;

	z-index: -1;

	@include b.respond-to('small') {
		width: 100%;
		max-width: 37.5rem;
		height: 100%;
	}
}

p[data-width='narrow'] {
	padding-inline: 1.5rem;

	@include b.respond-to('medium') {
		padding-inline: 0;
		max-width: 21.25rem;
	}
}

p[data-width='narrow--200'] {
	@include b.respond-to('medium') {
		max-width: 27.5rem;
	}
}

// ADVANTAGES LIST

.advantages__list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2.85rem;

	counter-reset: count;
}

.advantages__item {
	display: grid;
	grid-template-columns: min-content minmax(30%, 28.125rem);
	gap: 0.8rem;

	counter-increment: count;

	align-items: start;

	@include b.respond-to('medium') {
		column-gap: 1.5625rem;
	}
}

.advantages__item h3 {
	grid-column: 2;
	grid-row: 1;
	align-self: center;
}

.advantages__item p {
	grid-column: 1 / -1;

	@include b.respond-to('large') {
		grid-column: 2;
		grid-row: 2;
	}
}

.advantages__item::before,
.advantages__item::after {
	height: 3.125rem;

	@include b.respond-to('extra-small') {
		height: 2.375rem;
	}
}

.advantages__item::before {
	content: '0' counter(count);
	display: flex;
	align-items: center;
	justify-content: center;
	grid-column: 1;
	grid-row: 1;

	width: 4.0625rem;

	border-radius: 30rem;
	border: 0.0625rem solid transparent;
	background-color: v.$primary-400;
	color: v.$neutral-200;

	font-size: v.$fs-300;
	letter-spacing: -1px;
}

.advantages__item::after {
	content: '';
	grid-column: 1 / -1;
	grid-row: 1;

	width: 100%;

	border-top-left-radius: 10em;
	border-bottom-left-radius: 10em;
	background-color: v.$neutral-200;
	box-shadow: 5em 0 0 v.$neutral-200;

	overflow: hidden;
	z-index: -5;
	@include b.respond-to('small') {
		display: none;
	}
}

// CTA

.even-columns__cta {
	padding-block: 5.9375rem 3.875rem;

	@include b.respond-to('medium') {
		grid-template-columns: 67.36vw 1fr;
		align-items: center;
		padding-block: 4.0625rem;
		// gap: 48.96%;
	}
}
